@import "config";

body {
  @media (max-width: 375px) {
    .header-container {
      text-align: left;
      padding: 20px;
      .title {
        font-size: 0.9rem;
      }
      .icon {
        font-size: 0.9rem;
      }
      .button-text {
        font-size: 0.8rem;
        margin-left: 2px;
      }
    }
  }

  .filter-container {
    fieldset {
      border: none;
    }
  }

  .countries-container {
    .card-container {
      flex: 0 0 21%;
      margin: 30px 0;

      @media (max-width: $medium-width) {
        flex: 0 0 45%;
      }
      @media (max-width: $small-width) {
        flex: 0 0 80%;
        margin: 30px auto;
      }
    }
  }
}
